* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container {
  /* width: 50vw; */
}
.heading {
  background-color: #10b981;

  text-align: center;

  height: 6rem;

  padding: 1.5rem;
}
.description {
  text-align: center;
  margin: 1rem;
  font-size: x-large;
  font-weight: bold;
}
#billAmount {
}
#CashAmount {
}
.table {
  display: flex;
  flex-direction: column;
  background-color: #10b981;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.returnAmount {
}
th {
}
td {
  font-weight: bold;
}
.note {
  border: 1px solid;
  background-color: #d1fae5;
}

.c3 {
  height: 8rem;

  display: flex;

  flex-direction: column;

  justify-content: space-evenly;

  align-items: center;
}
label {
}
.button {
  padding: 5px;

  background-color: #d1fae5;

  border: none;
}
